body {
  margin: 0;
  padding: 0;
  max-width: 'auto';
  max-height: 'auto';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Home page*/
.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2%;
}

h1 {
  text-align: center;
}

/*Footer page*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e3f2fd;
  ;
  color: black;
  text-align: center;
}


/*Navigation*/
.navbar {
  margin-bottom: 1rem;
}
#navigation{
  background-color: #e3f2fd;
}
#login-btn{
  margin-right: 4%;
}

/*Login page*/
#login {
  width: 90%;
  height: 590px;
  margin-top: 0%;
}

#section {
  padding-top: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

#card {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}














.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dataTable{
  margin-top: 2px;
  margin-bottom: 30px;
}