<div id="container">

  <header id="site-header">
      <app-navigation></app-navigation>
  </header>

  <main id="site-content">
      <router-outlet></router-outlet>
  </main>

  <footer id="site-footer">
      <app-footer></app-footer>
  </footer>
 
</div>
