#users-table {

  margin-left: 0%;
  margin-right: 0%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 1%;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 1%;
  margin-bottom: 1%;
}

th,
td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#search-box {
  display: inline-flex;
  width: 50%;
  margin-left: 29%;
  position: relative;
  vertical-align: top;
}

#options {
  margin-right: 5%;
}