
<div id   ="createUser" 
    class ="w3-button w3-left">

  <a href   ="users/create"  
     type   ="button" 
     id     ="create"
     class  ="btn btn-primary me-md-2" >Create</a>
</div>

  <div  id   ="search-box"
       class ="input-group">

    <input (keyup)="searchFilter($event)" 
           type                 ="search" 
           id                   ="search-input"
           class                ="form-control ds-input" 
           placeholder          ="Search..." 
           aria-label           ="Search for..." 
           autocomplete         ="off" 
           spellcheck           ="false" 
           role                 ="combobox"
           aria-autocomplete    ="list" 
           aria-expanded        ="false" 
           aria-owns            ="algolia-autocomplete-listbox-0" 
           dir                  ="auto" />

      <button type ="button" 
             class ="btn btn-secondary">
        <i   class ="bi-search"></i>
      </button>
  </div>

<div>
  <table  mat-table [dataSource]="dataSource" 
          matSort>

    <ng-container matColumnDef="firstName">
     
      <th mat-header-cell 
         *matHeaderCellDef
          mat-sort-header 
          sortActionDescription="Sort by firstName">
           
           Firstname
      </th>

      <td mat-cell  
         *matCellDef="let element"> 
           {{element.firstName}} 
      </td>

    </ng-container>

    <ng-container matColumnDef="lastName">
     
      <th mat-header-cell 
         *matHeaderCellDef 
          mat-sort-header 
          sortActionDescription="Sort by lastName">
       
           Lastname
      </th>
      <td mat-cell 
         *matCellDef="let element"> 

         {{element.lastName}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="email">

      <th mat-header-cell 
         *matHeaderCellDef 
          mat-sort-header 
          sortActionDescription="Sort by email">

        Email
      </th>

      <td mat-cell
       *matCellDef="let element">

        {{element.email}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="username">

      <th mat-header-cell 
         *matHeaderCellDef 
          mat-sort-header 
          sortActionDescription="Sort by username">
         
          Username
      </th>

      <td mat-cell 
         *matCellDef="let element"> 
         
         {{element.username}}
     </td>
    </ng-container>

    <ng-container matColumnDef="options">

      <th mat-header-cell 
         *matHeaderCellDef 
         id="options">

          Options 
      </th>

      <td mat-cell 
         *matCellDef="let element">
       
         <div class="actions">

          <a  [routerLink]="['/users', 'edit', element.id]"
              id          ="option-buttons" 
              class       ="btn btn-warning"> Edit
          </a>
          <button (click)="onDelete(element.id); 
                  $event.stopPropagation()"
                  id     ="option-buttons" 
                  class  ="btn btn-danger">
              Delete
          </button>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row 
       *matHeaderRowDef="displayedColumns">
    </tr>

    <tr mat-row 
       *matRowDef="let row; 
       columns: displayedColumns;">
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5]" 
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>