<section class="text-center text-lg-start">

    <div  id    ="section"
          class ="container py-4">

      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div id    ="card"
               class ="card cascading-right">

            <div class="card-body p-5 shadow-5 text-center">
             
              <h2 class="fw-bold mb-5">Sign in now</h2>
  
              <form *ngIf="formGroup" 
                    (ngSubmit)="onSubmit()" 
                    [formGroup]="formGroup">
  
                <div class="form-outline mb-4">
                  <small *ngIf="usernameFormControl?.touched && 
                          usernameFormControl?.invalid        && 
                          usernameFormControl?.errors?.['required']"
                          class="red">
                  
                        Username is required field.
                  </small>
          
                  <small *ngIf="usernameFormControl?.touched && 
                         usernameFormControl?.invalid        && 
                         usernameFormControl?.hasError('maxlength')"
                         class="red">

                        Username field  should contain max {{ usernameFormControl.errors?.['maxlength']?.requiredLength }} symbols
                  </small>

                  <small *ngIf="usernameFormControl?.touched  && 
                          usernameFormControl?.invalid        && 
                          usernameFormControl?.hasError('minlength')"
                          class="red">
          
                      Username field should contain min {{ usernameFormControl.errors?.['minlength']?.requiredLength }} symbols
                  </small>

                  <input formControlName   ="username"
                         type              ="text" 
                         id                ="form3Example3" 
                         class             ="form-control"
                         placeholder       ="Username" 
                         required />
                </div>
  
                <div class="form-outline mb-4">

                  <small *ngIf="passwordFormControl?.touched  && 
                          passwordFormControl?.invalid        && 
                          passwordFormControl?.errors?.['required']"
                          class="red">

                       Password is required field.
                 </small>
         
                 <small *ngIf="passwordFormControl?.touched  && 
                         passwordFormControl?.invalid        && 
                         passwordFormControl?.hasError('maxlength')"
                         class="red">

                    Password field  should contain max {{ passwordFormControl.errors?.['maxlength']?.requiredLength }} symbols
                </small>

                <small *ngIf="passwordFormControl?.touched && 
                        passwordFormControl?.invalid        && 
                        passwordFormControl?.hasError('minlength')"
                        class="red">
         
                       Password field should contain min {{ passwordFormControl.errors?.['minlength']?.requiredLength }} symbols
                 </small>

                  <input  formControlName  ="password"
                          type             ="password" 
                          id               ="form3Example4" 
                          class            ="form-control" 
                          placeholder      ="Password" 
                          required
                    />

                </div>
  
                <button type="submit" 
                        class="btn btn-primary btn-block mb-4"> Sign in
                </button>
  
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">

          <img id    ="login" 
               src   ="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
               class ="w-100 rounded-4 shadow-4" 
               alt   ="" />
        </div>
  
      </div>
    </div>
  
  </section>
