
#login {
    width: 90%;
    height: 590px;
    margin-top: 0%;
  }
  
  #section {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
  }
  
  .cascading-right {
    margin-right: -50px;
  }
  
  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  
  #card {
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
  }

  .red{
    color: red;
    display: block;
  }