<nav id="nav" 
    class="navbar navbar-expand-lg navbar-light">
 
  <div class="container-fluid">

    <a      href           ="#" 
            class          ="navbar-brand">Management</a>

    <button class          ="navbar-toggler" 
            type           ="button"  
            data-bs-toggle ="collapse" 
            data-bs-target ="#navbarCollapse9">

      <span class          ="navbar-toggler-icon"></span>
    </button>

    <div *ngIf  ="isLoggedIn !== null" 
          id    ="navbarCollapse9"
          class ="collapse navbar-collapse" >

      <div class="navbar-nav">

        <a routerLink ="/" 
           class      ="nav-item nav-link active">Home</a>

        <a routerLink ="/users" 
           class      ="nav-item nav-link">Users</a>
      </div>

      <form     class   ="d-flex ms-auto">
        <button (click) ="onLogout()" 
                type    ="button" 
                class   ="btn btn-outline-primary">Logout</button>
      </form>

    </div>

    <div *ngIf  ="isLoggedIn === null"
          id    ="navbarCollapse9"  
          class ="collapse navbar-collapse">
     
      <div class      ="navbar-nav">
        <a routerLink ="/" 
           class      ="nav-item nav-link active">Home</a>
      </div>
      
      <form class     ="d-flex ms-auto">
        <a routerLink ="/auth" 
           class      ="btn btn-outline-primary">Login</a>
      </form>
    </div>
  </div>
</nav>