
<section class="text-center text-lg-start">

  <div  id    ="section"
        class ="container py-4" >
  
    <div class  ="row g-0 align-items-center">
      <div class ="col-lg-6 mb-5 mb-lg-0"  >
        <div  id  ="card"
              class ="card cascading-right">
  
          <div class="card-body p-5 shadow-5 text-center">

            <h2 class="fw-bold mb-5">Create user now</h2>

            <form  *ngIf="formGroup" 
                   (ngSubmit)="onSubmit()" 
                   [formGroup]="formGroup">

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                           
                       <small *ngIf="firstnameFormControl?.touched && 
                              firstnameFormControl?.invalid        && 
                              firstnameFormControl?.errors?.['required']"
                              class="red">

                             First name is required field
                       </small>
                      
                      <small *ngIf="firstnameFormControl?.touched && 
                             firstnameFormControl?.invalid        && 
                             firstnameFormControl?.hasError('maxlength')"
                             class="red">

                             First name field  should contain max {{ firstnameFormControl.errors?.['maxlength']?.requiredLength }} symbols
                      </small>

                      <small *ngIf="firstnameFormControl?.touched && 
                             firstnameFormControl?.invalid        && 
                             firstnameFormControl?.hasError('minlength')"
                             class="red">
                      
                             First name field should contain min {{ firstnameFormControl.errors?.['minlength']?.requiredLength }} symbols
                     </small>

                     <input type              ="text" 
                            id                ="form3Example1" 
                            class             ="form-control" 
                            placeholder       ="Firstname" 
                            required
                            formControlName   ="firstName" />
                
                </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">

                   <small *ngIf="lastnameFormControl?.touched && 
                                 lastnameFormControl?.invalid        && 
                                 lastnameFormControl?.errors?.['required']"
                                 class="red">

                           Last name is required field.
                    </small>
                   
                   <small *ngIf="lastnameFormControl?.touched && 
                                 lastnameFormControl?.invalid        && 
                                 lastnameFormControl?.hasError('maxlength')"
                                 class="red">

                          Last name field  should contain max {{ lastnameFormControl.errors?.['maxlength']?.requiredLength }} symbols
                   </small>

                   <small *ngIf="lastnameFormControl?.touched && 
                          lastnameFormControl?.invalid        && 
                          lastnameFormControl?.hasError('minlength')"
                          class="red">
                   
                          Last name field should contain min {{ lastnameFormControl.errors?.['minlength']?.requiredLength }} symbols
                  </small>

                  <input type               ="text" 
                         id                 ="form3Example2" 
                         class              ="form-control" 
                         placeholder        ="Lastname" 
                         required
                         formControlName    ="lastName" />
                  </div>
                </div>
              </div>


              <div class="form-outline mb-4">

                 <small *ngIf="emailFormControl?.touched && 
                        emailFormControl?.invalid        && 
                        emailFormControl?.errors?.['required']"
                        class="red">

                       Email is required field.
                </small>
               
               <small *ngIf="emailFormControl?.touched && 
                      emailFormControl?.invalid        && 
                      emailFormControl?.hasError('maxlength')"
                      class="red">

                      Email field  should contain max {{ emailFormControl.errors?.['maxlength']?.requiredLength }} symbols
               </small>

               <small *ngIf="emailFormControl?.touched && 
                      emailFormControl?.invalid        && 
                      emailFormControl?.hasError('minlength')"
                      class="red">
               
                      Email field should contain min {{ emailFormControl.errors?.['minlength']?.requiredLength }} symbols
              </small>

              <small *ngIf="emailFormControl?.touched  && 
                      emailFormControl?.invalid        && 
                      emailFormControl?.hasError('pattern')"
                      class="red">
       
                     Email field should be valid
               </small>

              <input type              ="email" 
                     id                ="form3Example3" 
                     class             ="form-control" 
                     placeholder       ="example@gmail.com" 
                     required
                     formControlName   ="email" />
              </div>

              <div class="form-outline mb-4">

                <small *ngIf="usernameFormControl?.touched && 
                       usernameFormControl?.invalid        && 
                       usernameFormControl?.errors?.['required']"
                       class="red">
                       
                     Username is required field.
                </small>
               
               <small *ngIf="usernameFormControl?.touched && 
                      usernameFormControl?.invalid        && 
                      usernameFormControl?.hasError('maxlength')"
                      class="red">

                      Username field  should contain max {{ usernameFormControl.errors?.['maxlength']?.requiredLength }} symbols
               </small>

               <small *ngIf="usernameFormControl?.touched && 
                      usernameFormControl?.invalid        && 
                      usernameFormControl?.hasError('minlength')"
                      class="red">
               
                      Username field should contain min {{ usernameFormControl.errors?.['minlength']?.requiredLength }} symbols
              </small>

              <input type             ="text" 
                     id               ="form3Example4" 
                     class            ="form-control" 
                     placeholder      ="Username" 
                     required
                     formControlName  ="username" />
              </div>

              <div class="form-outline mb-4">

                 <small *ngIf="passwordFormControl?.touched && 
                        passwordFormControl?.invalid        && 
                        passwordFormControl?.errors?.['required']"
                        class="red">

                       Password is required field.
                </small>
               
               <small *ngIf="passwordFormControl?.touched && 
                      passwordFormControl?.invalid        && 
                      passwordFormControl?.hasError('maxlength')"
                      class="red">

                      Password field  should contain max {{ passwordFormControl.errors?.['maxlength']?.requiredLength }} symbols
               </small>

               <small *ngIf="passwordFormControl?.touched && 
                      passwordFormControl?.invalid        && 
                      passwordFormControl?.hasError('minlength')"
                      class="red">
               
                     Password field should contain min {{ passwordFormControl.errors?.['minlength']?.requiredLength }} symbols
              </small>

              <input type               ="password" 
                     id                 ="form3Example5"
                     class              ="form-control" 
                     placeholder        ="Password" 
                     required
                     formControlName    ="password" />
              </div>

              <button type  ="submit" 
                      class ="btn btn-primary btn-block mb-4"> Create
              </button>

            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">

        <img id    ="login" 
             src   ="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
             class ="w-100 rounded-4 shadow-4" 
             alt   ="" />
      </div>
    </div>
  </div>
</section>
