/* You can add global styles to this file, and also import other style files */
@import './app//components/home/home.component.scss';
@import './app//components/footer/footer.component.scss';
@import './app//components/navigation/navigation.component.scss';
@import './app//components/modules/main/create/create.component.scss';
@import './app//components/modules/main/edit/edit.component.scss';
@import './app//components/modules/main/users/users.component.scss';
@import './app//components/modules/authentication/login/login.component.scss';

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}